@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap";

$color-bg: #ffffff;
$color-bg-secondary: #EAF2FD;
$color-primary: #2A7AE4;
$color-secondary: #ffb703;
$color-highlight: #fb8500;
$color-white: #ffffff;
$color-black: #000000;
$font-family: "Poppins", sans-serif;

$container-width-lg: 75%;
$container-width-md: 86%;
$container-width-sm: 90%;

$medium-screen: 1024px;
$small-screen: 600px;

$transition: all .4s ease;
